<h1>New student</h1>

<form id="new-student" name="student">
  <div class="field">
    <label for="firstname"> firstname:</label>
    <input type="text" name="firstname" id="firstname" value="<%= firstname %>" >
  </div>

  <div class="field">
    <label for="lastname"> lastname:</label>
    <input type="text" name="lastname" id="lastname" value="<%= lastname %>" >
  </div>

  <div class="field">
    <label for="favoritefood"> favoritefood:</label>
    <input type="text" name="favoritefood" id="favoritefood" value="<%= favoritefood %>" >
  </div>

  <div class="field">
    <label for="favoritecolor"> favoritecolor:</label>
    <input type="text" name="favoritecolor" id="favoritecolor" value="<%= favoritecolor %>" >
  </div>

  <div class="field">
    <label for="favoritemovie"> favoritemovie:</label>
    <input type="text" name="favoritemovie" id="favoritemovie" value="<%= favoritemovie %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Students" />
  </div>

</form>

<a href="#/index">Back</a>