<p>
  <b>Firstname:</b>
  <%= firstname %>
</p>

<p>
  <b>Lastname:</b>
  <%= lastname %>
</p>

<p>
  <b>Favoritefood:</b>
  <%= favoritefood %>
</p>

<p>
  <b>Favoritecolor:</b>
  <%= favoritecolor %>
</p>

<p>
  <b>Favoritemovie:</b>
  <%= favoritemovie %>
</p>


<a href="#/index">Back</a>